<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Жанри артистів</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/popup.css">



</head>
<body ng-app = "demo">

<div class="container" style="margin-top: 30px" ng-controller = "ArtistGenreCtrl as artistGenreCtrl">
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>ІД</th>
                    <th>Артист</th>
                    <th>Жанр</th>
                    <th width="200px"></th>
                </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in artists">
                <td>{{item.artist.id}}</td>
                <td>{{item.artist.name}}</td>
                <td>{{item.genre.toString()}}</td>
                <td>
                    <button type="create" class="btn-success" data-toggle="modal" data-target="#addModal" ng-click="artistGenreCtrl.startAddGenre(item.artist.id, item.artist.name)">Створити</button>
                    <button id="update" ng-click="artistGenreCtrl.startUpdateGenres(item.artist.id, item.artist.name, item.genre.toString())" class="btn-warning" data-toggle="modal" data-target="#editModal">Edit</button>
                    <button id="delete" ng-click="artistGenreCtrl.deleteGenre(item.artist.id, item.genre.toString())" class="btn-danger">Del</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>Артист: </label>
                    <span id="labelArtist"></span> <br>
                    <label>Жанри:</label>
                    <select multiple ng-model="selectedGenres" id="selectGenres" name="selectGenres" title="Жанри">
                        <option>Комедія</option>
                        <option>Драма</option>
                        <option>Мелодрама</option>
                        <option>Мюзикл</option>
                        <option>Пародія</option>
                        <option>Фантастика</option>
                        <option>Боєвик</option>
                        <option>Фентезі</option>
                        <option>Тріллер</option>
                        <option>Детектив</option>
                    </select>
                    <br>
                    <button id="addGenreButton" ng-click="artistGenreCtrl.addGenre()">Додати</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування артиста -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">
                    <label>Артист: </label>
                    <span id="updLabelArtist"></span> <br>
                    <select ng-model="selectedGenre" id="selectGenre" name="selectGenre" title="Жанри">
                        <option>Комедія</option>
                        <option>Драма</option>
                        <option>Мелодрама</option>
                        <option>Мюзикл</option>
                        <option>Пародія</option>
                        <option>Фантастика</option>
                        <option>Боєвик</option>
                        <option>Фентезі</option>
                        <option>Тріллер</option>
                        <option>Детектив</option>
                    </select>
                    <button id="editGenresButton" ng-click="artistGenreCtrl.updateGenre()">Змінити</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>



<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/artist_genre.js"></script>




</body>
</html>