<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Артисти</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">



</head>
<body ng-app = "demo">

<div class="container" style="margin-top: 30px" ng-controller = "ArtistCtrl as artistCtrl">
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>&#128273ІД</th>
                    <th>Ім'я</th>
                    <th width="30px"><button type="button" class="btn-success" data-toggle="modal" data-target="#addModal" style="align-self:center">Створити</button></th>
                </tr>
            </thead>

            <tbody>

            <tr ng-repeat = "item in artists">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>
                    <button id="update" ng-click="artistCtrl.startUpdateArtist(item.id, item.name)" class="btn-warning" data-toggle="modal" data-target="#editModal">Edit</button>
                    <button id="delete" ng-click="artistCtrl.deleteArtist(item.id)" class="btn-danger">Del</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Додавання артиста -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Додавання</h4>
                </div>
                <div class="modal-body">
                    <label>ІД:</label>
                    <input type="number" id="artistId" name="artistId" /> <br>
                    <label>Ім'я:</label>
                    <input type="text" id="artistName" name="artistName" /> <br>
                    <!--<label>Жанри:</label>
                    <select multiple ng-model="selectedGenres" id="selectGenres" name="selectGenres" title="Жанри">
                        <option>Комедія</option>
                        <option>Драма</option>
                        <option>Мелодрама</option>
                        <option>Мюзикл</option>
                        <option>Пародія</option>
                        <option>Фантастика</option>
                        <option>Боєвик</option>
                        <option>Фентезі</option>
                        <option>Тріллер</option>
                        <option>Детектив</option>
                    </select>
                    <br>-->
                    <button id="createArtistButton" ng-click="artistCtrl.createArtist()">Створити</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Редагування артиста -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування</h4>
                </div>
                <div class="modal-body">
                    <label>Ім'я:</label>
                    <input type="text" id="updateArtistName" name="updateArtistName" />
                    <button id="editArtistButton" ng-click="artistCtrl.updateArtist()">Змінити</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </div>

        </div>
    </div>

</div>



<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/artist.js"></script>




</body>
</html>